<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<#assign base="${request.contextPath}"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${base}/statics/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="${base}/statics/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="${base}/statics/css/adminlte.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="${base}/statics/plugins/iCheck/all.css">
<!-- bootstrap table -->
<link rel="stylesheet" href="${base}/statics/plugins/bootstarttable/bootstrap-table.min.css">
<!-- bootstrap -->
<!--<link rel="stylesheet" href="${base}/statics/css/bootstrap.min.css">-->
<!-- lay ui -->
<link rel="stylesheet" href="${base}/statics/plugins/layui/css/layui.css">
<!-- ztree -->
<link rel="stylesheet" href="${base}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<!-- customize style -->
<link rel="stylesheet" href="${base}/statics/css/main.css?_${.now?long}">
<!-- jQuery -->
<script src="${base}/statics/lib/jquery-3.3.1.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 4 -->
<script src="${base}/statics/lib/bootstrap.bundle.js"></script>
<!-- AdminLTE App -->
<!--<script src="${base}/statics/lib/adminlte.min.js"></script>-->
<!-- layer -->
<script src="${base}/statics/plugins/layui/layui.js"></script>
<!-- vue2 -->
<script src="${base}/statics/lib/vue.js"></script>
<!-- bootstrap table -->
<script src="${base}/statics/plugins/bootstarttable/bootstrap-table.min.js"></script>
<script src="${base}/statics/plugins/bootstarttable/local/bootstrap-table-zh-CN.min.js"></script>

<!-- jquery-validation -->
<script src="${base}/statics/plugins/jqueryvalidation/jquery.validate.min.js"></script>
<script src="${base}/statics/plugins/jqueryvalidation/additional-methods.min.js"></script>
<script src="${base}/statics/plugins/jqueryvalidation/localization/messages_zh.min.js"></script>
<!-- iCheck -->
<script src="${base}/statics/plugins/iCheck/icheck.min.js"></script>
<!-- ztree -->
<script src="${base}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<!-- common js -->
<script src="${base}/statics/js/common.js?_${.now?long}"></script>


