<!DOCTYPE html>
<html>
<head>
<title>数据字典</title>
	<#include "/header.html">
	<!-- bootstrap -->
	<link rel="stylesheet" href="${base}/statics/css/bootstrap.min.css">
</head>
<body>
<div id="app" v-cloak>
	<div class="card">
		<!--<div class="card-header">
			<h3 class="card-title">Data Table With Full Features</h3>
		</div>-->
		<!-- /.card-header -->
		<div id="my-toolbar" class="grid-btn">
			<#if shiro.hasPermission("dict:create")>
			<button class="btn btn-primary" @click="create"><i class="fa fa-plus"></i>&nbsp;新增</button>
			</#if>
			<#if shiro.hasPermission("dict:del")>
			<button class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
			</#if>
			<#if shiro.hasPermission("dict:update")>
			<input value="true" ref="uptPermInput" type="hidden"/>
			</#if>
		</div>

		<div class="card-body">
			<table id="bt-table"></table>
		</div>
	</div>

	<div id="winContent" v-show="show" class="layer-form">
		<form id="dictForm">
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">字典名称</div>
				<div class="col-sm-6">
					<input type="text" v-model="dict.dictName" class="form-control"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">字典类型</div>
				<div class="col-sm-6">
					<!-- 使用表单校验必须要写id -->
					<input type="text" class="form-control required" id="dictType" name="dictType" v-model="dict.dictType" :disabled="isUpdate"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">字典健</div>
				<div class="col-sm-6">
					<input type="text" v-model="dict.dictKey" id="dictKey" name="dictKey" class="form-control required" :disabled="isUpdate" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">字典值</div>
				<div class="col-sm-6">
					<input type="text" v-model="dict.dictValue" class="form-control"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">排序号</div>
				<div class="col-sm-6">
					<input type="text" v-model="dict.dictOrd" id="dictOrd" class="form-control number"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3 col-form-label text-right">备注</div>
				<div class="col-sm-6">
					<input type="text" v-model="dict.remark" class="form-control"/>
				</div>
			</div>
		</form>
	</div>
</div>

<script src="${base}/statics/js/system/dict.js?_${.now?long}"></script>
</body>
</html>