<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="sc-gateway"/>
    <property name="logDir" value="/app/biz_logs/${appName}"/>
    <springProperty scope="context" name="baseLogDir" source="LOG_BASE" defaultValue="${logDir}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%X{X-B3-TraceId}] [%X{X-B3-SpanId}] %d{yyy-MM-dd HH:mm:ss.SSS} %t %class{20}\(%class{0}:%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="gateway" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${baseLogDir}/${appName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${baseLogDir}/${appName}.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>[%-5level] [%X{X-B3-TraceId}] [%X{X-B3-SpanId}] %d{yyy-MM-dd HH:mm:ss.SSS} %t %class{20}\(%class{0}:%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- profile配置，不能直接在logback.xml文件中使用 -->
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="pressure|uat|prod">
        <logger name="com.zz" level="info" additivity="false">
            <appender-ref ref="gateway"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="info">
            <appender-ref ref="gateway"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>